body {
    background-color: rgb(39, 39, 39);
}

#content {
    background-color: rgb(110, 110, 110);
    margin: 20vh;
    height: 30vh;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    border-radius: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-shadow:5px 10px rgb(73, 73, 73);
    
}